---
name: Generate CLI reference doc
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
      - main
    paths:
      - cmd/**
      - pkg/config/defaults.go
jobs:
  generate-cli-ref-doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - run: go run main.go gendocs docs/docs/reference/

      - name: Generate token
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: "${{ secrets.BOT_APP_ID }}"
          private_key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        id: cpr
        with:
          token: "${{ steps.generate-token.outputs.token }}"
          title: "docs: update CLI reference documentation"
          commit-message: "docs: update CLI reference documentation"
          delete-branch: true
          labels: documentation
          committer: budimanjojo-bot <111944664+budimanjojo-bot[bot]@users.noreply.github.com>
          author: budimanjojo-bot <111944664+budimanjojo-bot[bot]@users.noreply.github.com>

      - name: Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: "${{ steps.generate-token.outputs.token }}"
          pull-request-number: "${{ steps.cpr.outputs.pull-request-number }}"
          merge-method: squash
