---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: goreleaser

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: "Dry Run"
        default: false
        required: false
        type: boolean

  push:
    tags: ["*"]

  pull_request:
    paths:
      - ".github/workflows/release.yaml"
      - ".goreleaser.yaml"
      - "go.mod"
      - "go.sum"
      - "main.go"
      - "cmd/**"
      - "pkg/**"

env:
  GORELEASER_DRY_RUN: "${{ inputs.dry-run || github.event_name == 'pull_request' }}"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: stable

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean ${{ env.GORELEASER_DRY_RUN == 'true' && '--snapshot' || '' }}
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          WINGET_TOKEN: "${{ secrets.WINGET_TOKEN }}"
          AUR_KEY: "${{ secrets.AUR_KEY }}"
