name: Test Nix Build
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master
permissions:
  contents: read
jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: cachix/install-nix-action@v30
      - uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes-from-devshell: true
          script: bash ./scripts/nix-build-last-commit.sh
      - run: ./result/bin/talhelper
