name: test
on:
  push:
    branches:
      - master
    tags:
      - "*"
    paths:
      - 'main.go'
      - 'go.mod'
      - 'go.sum'
      - 'pkg/**'
      - 'cmd/**'
  pull_request:
    branches:
      - master
    paths:
      - 'main.go'
      - 'go.mod'
      - 'go.sum'
      - 'pkg/**'
      - 'cmd/**'
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go build -o /usr/local/bin/talhelper
      - run: go test -v ./... -race -covermode=atomic
      - run: talhelper
