name: Test Nix Build
on:
  workflow_dispatch: {}
  push:
    branches:
      - master
    tags:
      - "*"
  pull_request:
    branches:
      - master
permissions:
  contents: read
jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: cachix/install-nix-action@v31
      - uses: workflow/nix-shell-action@v3.4.0
        with:
          flakes-from-devshell: true
          script: bash ./scripts/nix-build-last-commit.sh
      - run: ./result/bin/talhelper
